@import 'nullstyle.scss';

@font-face {
	font-family: 'Belinda';
	src: url('../fonts/Belinda Regular.eot');
	src: local('вє'), url('../fonts/Belinda Regular.woff') format('woff'), url('../fonts/Belinda Regular.ttf') format('truetype'), url('../fonts/Belinda Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




